.cardContainer {
  display: flex;
  justify-content: center;
  flex-flow: wrap;

  .imageCard {
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
  }
}

.buttonContainer {
  width: 100%;

  button {
    width: 100%;
    height: 5rem;
  }
}
