<div class="container">
  <div *ngIf="!this.canUpload">
    <div class="alert alert-danger">
          You need to logged in to upload media !
    </div>
  </div>
  <div *ngIf="this.canUpload">
      <h3> UPLOAD </h3>

      <form (ngSubmit)="onSubmit(uploadForm)" #uploadForm="ngForm">

        <div class="form-group">
          <input class="btn btn-default" (change)="onFileSelect($event)"
                  [(ngModel)]="uploadForm.file"
                  type="file" name="file" #file="ngModel" required/>
          <div [hidden]="file.valid || file.pristine"
                class="alert alert-danger">
                File is required
          </div>
        </div>

        <div class="form-group">
          <input class="form-control" type="text" [(ngModel)]="uploadForm.title"
                  placeholder="Title" name="title" #title="ngModel" required/>
          <div [hidden]="title.valid || title.pristine"
                class="alert alert-danger">
                  Title is required
          </div>
          <br />
          <input class="form-control" type="text" [(ngModel)]="uploadForm.description"
                  placeholder="Description (optional)" #name="ngModel" name="description"/>
        </div>

        <button type="submit"
         class="btn btn-success" [disabled]="!uploadForm.form.valid">Upload</button>

      </form>
    </div>
</div>
